@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5vw;
    width: 100%;
    @include breakpoint(tablet) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid color(accent, base);
    padding: 15px 0;
}
.smallText{
  font-weight: bold;
  color: color(accent, base);
}
.about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 60%;
}
.bioWrapper{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid color(accent, base);
  margin-top: 25px;
}
.bio{
  display: flex;
  flex-grow: 1;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 1.2rem;
  color: color(accent, base);
}
.icons{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  font-size: 20px;
  color: color(accent, base);

  button{
    font-size: 0.9rem;
  }
}
.cancel{
  color: color(warning, base);
}
.textarea{
  min-height: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}
.stars{
  font-size: 1.3rem;
  margin-top: -5px;
  margin-bottom: 10px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  flex-basis: 95%;

  @include breakpoint(tablet){
    flex-basis: 45%;
  }
}
.heading {
    @include headingBig;
}
.heading2 {
    @include headingMedium;
}
