@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5vw;
    width: 100%;
    @include breakpoint(tablet) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.info {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.stars{
  font-size: 1.3rem;
  margin-top: -5px;
  margin-bottom: 10px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  @include breakpoint(tablet){
    width: 50%;
  }

}

.heading {
    @include headingBig;
}
.heading2 {
    @include headingMedium;
}
