.neutral{
  background-color: color(white, lighter);
  border-left: 5px solid color(white, dark);
  box-shadow: 3px 3px 3px color(white, darker);
  color: color(white, dark);

}
.success{
  background-color: color(success, lighter);
  border-left: 5px solid color(success, base);
  box-shadow: 3px 3px 3px color(white, darker);
  color: color(success, base);
}

.warning{
  background-color: color(warning, lighter);
  border-left: 5px solid color(warning, base);
  box-shadow: 3px 3px 3px color(white, darker);
  color: color(warning, base);
}

.error{
  background-color: color(error, lighter);
  color: color(error, base);

  border-left: 5px solid color(error, base);
  box-shadow: 3px 3px 3px color(white, darker)
}
