@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0;
  width: 100%;
}
.heading2 {
    @include headingMedium;
}
