@mixin headingBig{
  font-size: 2.5rem;
}
@mixin headingMedium{
  font-size: 1.5rem;
  margin-top: 5px;
}
@mixin headingSmall{
  font-size: 1.2rem;
  font-weight: bold;
}
@mixin text{
  line-height: 1.2;
  max-width: 700px;
}
@mixin smallText{
  font-size: 0.8rem;
}
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin component{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px color(secondary, base);
}
@mixin page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;


  @include breakpoint(tablet){
    padding: 25px;
  }
}

@mixin hoverComponent{
  transition: .3s;
  &:hover{
    transform: scale(1.005);
    transition: .3s;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
 }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
 }
   @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
 }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

 }
}
