//Colors

$font1: 'Arial';
$border-radius: 5px;

$palettes: (
    primary: (
      base: #FFFFFF,
    ),
    secondary: (
        base:   #D2F7C9,
        lighter: darken(#F6FFF4, 5%)
    ),
    accent: (
        base:    #318974,
        lighter: lighten(#318974, 5%)
    ),
    black: (
      base: rgb(0,0,0),
      lighter: rgb(42,42,42)
    ),
    success: (
      base: #43e86a,
      lighter: lighten(#43e86a, 30%)
    ),
    warning: (
      base: #e89043,
      lighter: lighten(#e89043, 30%)
    ),
    error: (
      base: #e84343,
      lighter: lighten(#e84343, 30%)
    )

);

@function color($color, $tone){

    @if map-has-key($palettes,$color){
        $color: map-get($palettes,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;

}
