@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .heading{
    @include headingMedium;
    margin-top: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 50px 0;
    text-align: center;
  }
  .stars{
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .text {
    color: color(accent, base);
    @include headingMedium;
    margin-bottom: 30px;
  }
  .button {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    background-color: color(secondary, base);
    color: color(accent, base);
    @include text;
  }