@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.card{
  display: flex;
  flex-direction: column;
  background-color: color(secondary, lighter);
  flex: 1 0 45%;
  border-radius: 15px;
  height: 250px;
  overflow-y: scroll;
  box-shadow: 1px 1px 3px grey;
  @include breakpoint(desktop){
    flex: 1 0 21%;
  }
  @include hoverComponent;

}
.header{
  padding: 15px;
  background-color: color(accent, base);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
}
.info{
  padding: 15px;
}
.day{
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid color(accent, base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time{
  @include smallText;
  opacity: 0.8;
  margin-right: 10px;
}
