@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.link{
    color: color(accent, base);
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: color(accent, base);
}

.headerInfo{
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid color(accent, base);
  width: 100%;
  margin-top: 5px;
}
.sessionHeading{
  color: black;
  font-size: 2rem;

}
.tutorInfo{
  display: flex;
  border-bottom: 2px solid color(accent, base);
  justify-content: space-between;
}
.header2{
  @include headingMedium;
  margin-top: 15px;
}
.info{
  flex-basis: 65%;
}
.image{
  flex-basis: 30%;
}
.imageStudent{
  flex-basis: 30%;
  max-width: 250px;
}
.infoAttribute{
  color: color(accent, base);
  max-width: 45rem;
}
.studentInfo{
  display: flex;
  border-bottom: 2px solid color(accent, base);
  justify-content: space-between;
}
