@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.link{
    color: color(accent, base);
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: color(accent, base);
}

.headerInfo{
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 2px solid color(accent, base);
  width: 100%;
  margin-top: 5px;
}
.sessionHeading{
  color: black;
  font-size: 2rem;

}
.tutorInfo{
  display: flex;
}
.header2{
  @include headingMedium;
}
.info{
  flex-basis: 45%;
}
.image{
  flex-basis: 45%;
}
