@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.page{
    @include page;
}
.header{
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid color(accent, base);
  font-size: 2rem;
}

.sessionsWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;

}
.heading{
  @include headingMedium;
  margin-bottom: 10px;
}

.placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background-color: color(primary, darker);
  border-radius: 10px;
}
