@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper{
    @include component;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;

    @include hoverComponent;
  }
  .teach{
    background-color: color(secondary, base);
    margin-top: 10px;
  }
  .learn{
    background-color: lighten(color(secondary, base), 7%);
    margin-top: 10px;
  }
  .info{
    @include flexCenter;

    gap: 2rem;
  }
  .status{
    @include smallText;
  }
  .link{
    @include smallText;

    text-decoration: underline;
    cursor: pointer;

    // When we hover the element these rules will be applied
    &:hover{
        color: lighten(color(accent, base), 5%);
    }
  }
