@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.page{
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
