@import "../../styles/abstracts/_mixins.scss";
@import "../../styles/abstracts/_variables.scss";

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
    
    @include breakpoint(tablet) {
        align-items: flex-start;
        width: 100%;
    }
  }
  .heading2{
    @include headingMedium
  }